h1 {
    background: rgba(197, 77, 21, 0.966);
    color: #ffffff;
    height: 100px;
    margin-bottom: 0;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    font-weight: bolder;
    font-size: 50px;
    border-top: solid rgba(196, 3, 3, 0.479);
    border-bottom: solid rgba(196, 3, 3, 0.479);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    margin-top: 20px;
}

.jumbo {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

.recipe-column {
    margin-right: 0;
    margin-top: 50px;

}
.left {
    margin-top: 30px;
    margin-right: 0;
    padding-right: 15px;
}

.slide {
    width: 300px;
}

.button {
    background: rgba(209, 74, 12, 0.966);
}

#use-weather {
    margin-left: 10px;
    background: red;
}

.hide {
    /* display: none; */
}

.stored {
    display: block;
}

.recipe-image {
    float: left;
}
.card-body {
    float: left;
}

#search-btn0, #search-btn3 {
    min-width: 300px;
}

#recipe-value, #ingredients-value {
    max-width: 238.03px;
}



