body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background: rgba(197, 77, 21, 0.966);
    color: #ffffff;
    height: 100px;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 50px;
    border-top: 3px solid #dc3545;
    border-bottom: 3px solid #dc3545;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title{
    padding-top: 7px;
}

.fa-teeth-open {
    position: relative;
    bottom: 2px;
    font-size: 15px;
}

#motto {
    font-size: 12px;
    margin-top: 7px;
}

.jumbo {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

.recipe-column {
    margin-right: 0;
    margin-top: 27px;

}
.left {
    margin-top: 30px;
    margin-right: 0;
    padding-right: 15px;
}

.slide {
    width: 300px;
}

.button {
    background: rgba(209, 74, 12, 0.966);
}

#use-weather {
    margin-left: 10px;
    background: red;
}

.hide {
    /* display: none; */
}

.stored {
    display: block;
}

.recipe-image {
    float: left;
}

#search-btn0 {
    min-width: 258px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: #dc3545;
}

#search-btn3 {
    min-width: 256px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(209, 74, 12, 0.966);
}

#recipe-value, #ingredients-value {
    max-width: 252px;
}



